body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
    max-width: 600px;
}

#svg-container {
    margin: 20px auto;
    width: 100%;
    height: 200px;
}

.block, .water {
    stroke:#f4f4f9;;
}

.block {
    fill:  #f4f4f9;
}

.water {
    fill: #00bfff;
    opacity: 0.6;
}
